.app-root-header {
  width: 100%;
  height: 56px;
  min-height: 56px;
  max-height: 56px;
  padding: 0 56px;
  position: relative;
  background: rgb(255, 255, 255);
  box-shadow: #0000000f 0 1px 1px, #0000001a 0 2px 4px;
}

.blog-logo {
  min-width: 300px;
}

.blog-logo h3 {
  flex: 1;
  margin-right: 16px;
}

.blog-logo nz-input-group {
  flex: 2;
}

.blog-avatar {
  min-width: 260px;
}

.blog-avatar > nz-badge {
  margin-right: 28px;
}

.blog-avatar > nz-badge > i {
  font-size: 22px;
}

.blog-avatar nz-avatar {
  cursor: pointer;
}


.app-root-footer {
  position: fixed;
  bottom: 0;
  height: 36px;
  min-height: 36px;
  max-height: 36px;
  width: 100%;
  z-index: 9999;
}

.app-root-footer span {
  color: black;
}


