<div class="flex-column div-all scroll-overflow-box">
  <div class="flex-row start-center">
    <nz-input-group [nzSuffix]="trashArticleSuffixIconSearch" style="max-width: 200px;">
      <input type="text" nz-input placeholder="input search text" [appAppInputDebounce]="searchPage" [(ngModel)]="searchKey"/>
    </nz-input-group>
    <ng-template #trashArticleSuffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
    <button nz-button nzType="text" style="color: #40a9ff;" (click)="recoveryBatch()">批量恢复</button>
    <button nz-button nzType="text" style="color: #40a9ff;" (click)="deleteBatch()">批量删除</button>
    <button nz-button nzType="text" style="color: #40a9ff;" (click)="recoveryAll()">恢复所有</button>
    <button nz-button nzType="text" style="color: #40a9ff;" (click)="deleteAll()">删除所有</button>
  </div>

  <nz-table
    [nzData]="articleList"
    [nzFrontPagination]="false"
    [nzTotal]="totalSize"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzQueryParams)="pageEvent($event)"
  >
    <thead>
    <tr>
      <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
      <th>文章名</th>
      <th>文章状态</th>
      <th>创建时间</th>
      <th>最近更新时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let vo of articleList">
      <td [nzChecked]="selectedIdSet.has(vo.articleId)" (nzCheckedChange)="onItemChecked(vo.articleId, $event)"></td>
      <td>{{ vo.articleName }}</td>
      <td>{{ vo.published ? '已发布' : '草稿' }}</td>
      <td>{{ vo.createTime }}</td>
      <td>{{ vo.updateTime }}</td>
      <td class="flex-row start-center">
        <button
          nz-button
          nzTooltipTitle="彻底删除" nzTooltipPlacement="top" nz-tooltip
          nzType="text"
          nz-popconfirm
          nzPopconfirmTitle="确定彻底删除?"
          (nzOnConfirm)="delete(vo.articleId)"
        >
          <i class="fa fa-trash-o"></i>
        </button>

        <button
          nz-button
          nzType="text"
          nz-popconfirm
          nzPopconfirmTitle="确定恢复?"
          (nzOnConfirm)="recovery(vo.articleId)"
          nzTooltipTitle="恢复"
          nzTooltipPlacement="top"
          nz-tooltip
        >
          <i class="fa fa-reply"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>

