<div class="div-all flex-column start-center">
  <div class="forget-pwd-content">
    <h1>重置密码</h1>
    <div class="flex-column">
      <div class="flex-column form-input-row">
        <label for="forget_user_email">邮箱：</label>
        <input id="reset_user_email" required nz-input [(ngModel)]="email" [appAppInputDebounce]="checkEmail"/>
        <div class="flex-row start-center error-msg">
          <span *ngIf="!emailDV.passFlag">{{emailDV.filterMsg}}</span>
        </div>
        <input id="forget_user_email" required nz-input [(ngModel)]="email"/>
      </div>
      <div class="flex-column form-input-row">
        <label for="email_key">验证码：</label>
        <div class="flex-row start-center" style="flex: 5;">
          <input style="flex: 3;" id="email_key" required nz-input [(ngModel)]="captchaCode"/>
          <img style="flex: 2;margin-left: 6px;" [src]="emailCaptchaImgUrl" alt="验证码">
          <a nz-button nzType="text" style="padding-right: 0;color: #40a9ff; flex: 1;" (click)="refreshCaptchaImg()">刷新</a>
        </div>
      </div>
      <div class="flex-row double-center">
        <button nz-button nzType="primary" style="color: white;min-width: 156px;" [disabled]="!emailDV.passFlag" (click)="resetPwd()">
          立即重置
        </button>
      </div>
    </div>
  </div>
</div>
